apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "mqtt-cilium.fullname" . }}-data
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.pvc.storageRequest }}