---
# Default naming overrides
nameOverride: ""
fullnameOverride: ""

# values.yaml
replicaCount: 1

# Number of old ReplicaSets to retain to allow rollback.
# Kubernetes default is 10.
revisionHistoryLimit: 10

# Deployment configuration
mosquittoDeployment:
  replicas: 1
  image:
    repository: eclipse-mosquitto
    tag: "2.0.18"
    pullPolicy: IfNotPresent
  podSecurityContext:
    fsGroup: 1883
  initPermissions:
    image:
      repository: busybox
      tag: latest
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 128Mi
  livenessProbe:
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
  readinessProbe:
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5

# Mosquitto Application Config
mosquittoConfig:
  mosquittoConf: |-
    # This will render as: # Config for my-release-mqtt
    # Config for {{ .Release.Name }}
    persistence true
    persistence_location /mosquitto/data
    # Dynamic listener using Helm release name
    log_dest stdout
    # Explicitly bind to 0.0.0.0 to allow K8s Service traffic
    listener 1883 0.0.0.0
    allow_anonymous false
    password_file /mosquitto/config/password.txt
    listener 9001 0.0.0.0
    protocol websockets
    # # MQTT over TLS
    # listener 8883
    # cafile /mosquitto/certs/ca.crt
    # certfile /mosquitto/certs/tls.crt
    # keyfile /mosquitto/certs/tls.key
    # # MQTT over WebSockets (Secure)
    # listener 9001
    # protocol websockets
    # cafile /mosquitto/certs/ca.crt
    # certfile /mosquitto/certs/tls.crt
    # keyfile /mosquitto/certs/tls.key

# Secret Management
mosquittoSecrets:
  create: true
  existingSecret: ""
  passwordData: "admin:defaultpassword"

# Networking & Cilium IPAM
mqttLb:
  type: LoadBalancer

cilium:
  assignInternalIP: "true"
  poolName: "default-pool"
  sharingKey: "mqtt"
  ips: ""

# Persistence
pvc:
  storageRequest: 1Gi
  accessMode: ReadWriteOnce
  storageClass: "" # Uses default storage class if empty
