kubernetesClusterDomain: cluster.local
# Configuration (Supports TPL)
mosquittoConfig:
  mosquittoConf: |-
    # This will render as: # Config for my-release-mqtt
    # Config for {{ .Release.Name }}
    persistence true
    persistence_location /mosquitto/data
    # Dynamic listener using Helm release name
    log_dest stdout
    # Explicitly bind to 0.0.0.0 to allow K8s Service traffic
    listener 1883 0.0.0.0
    allow_anonymous false
    password_file /mosquitto/config/password.txt
    listener 9001 0.0.0.0
    protocol websockets
    # # MQTT over TLS
    # listener 8883
    # cafile /mosquitto/certs/ca.crt
    # certfile /mosquitto/certs/tls.crt
    # keyfile /mosquitto/certs/tls.key
    # # MQTT over WebSockets (Secure)
    # listener 9001
    # protocol websockets
    # cafile /mosquitto/certs/ca.crt
    # certfile /mosquitto/certs/tls.crt
    # keyfile /mosquitto/certs/tls.key

# Networking
cilium:
  ips: "10.0.1.46"
  poolName: "default-pool"
  sharingKey: "mqtt"

# Deployment
mosquittoDeployment:
  replicas: 1
  image:
    repository: eclipse-mosquitto
    tag: "2.0.18"
  podSecurityContext:
    fsGroup: 1883
  initPermissions:
    image:
      repository: busybox
      tag: latest
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 128Mi

# If you want to define the password secret outside helm to make it
# easier to update, set create to false and existingSecret to the name
# of your secret
mosquittoSecrets:
  create: true
  existingSecret: ""
  passwordData: "admin:$6$..."

# Storage
pvc:
  storageRequest: 1Gi