name: release

on:
  push:
    branches:
      - main # Trigger on pushes to the main branch

jobs:
  release:
    permissions:
      contents: write # Grant write permissions for the GITHUB_TOKEN to create releases and update the gh-pages branch
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # fetch-depth 0 is required for chart-releaser-action
      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      - name: Install Helm
        uses: azure/setup-helm@v1
      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.6.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
